body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    color: black;
}

.centering {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.navigation {
    line-height: 26px;
    font-weight: bold;
    background-color: white;

}
.navigation-logo {
    position: absolute; 
    right: 50%;
    margin-right: -70px;
    z-index: 1;
    top: 0px;
    
}

.navigation-list {
    display: flex;
    align-items: center;
    height: 56px;
    margin: 0;
    padding: 0 75px;
}

.navigation-list li {
    list-style: none;
    width: 25%;
}
.navigation-list li:nth-last-child(1),
.navigation-list li:nth-last-child(2)
{
    text-align: right;
   }
.navigation-list a {
    color: black;
    text-decoration: none;
    line-height: 26px;    
}
.navigation-list a:hover  {
    color:#81b3d2;
}

.navigation-list a:active  {
    color:#dbdbdb;
}

.photography {
    position: relative;
    background-image: url(../img/backgroundphoto.jpg);
    background-repeat: no-repeat;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 61px;
    text-align: center;
    background-position: center;
    background-size: cover;
    
}
.photography::after {
    content: ''; 
    display: block;
    background-image: url(../img/polygon.png);
    position: absolute;
    height: 59px;
    left: -1px;
    right: -1px;
    bottom: -2px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    
}


.advantage {
    
}
.advantage-block {
    background-color: white;
    height: 216px;
    padding: 5px;
}
.advantage-arizona {
    width: 450px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 
}
.advantage-best {
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 57px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.advantage h2 {
    font-size: 21px; 
    line-height: 21px;   
}
.find {
    text-align: center;

}
.find-block {
    background-color: white;
}

.find-interested {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 58px;
    padding-top: 55px;
}
.find-date {
    line-height: 24px;
    margin-top: 37px;
    text-align: center;
}
.find-form {
    background-color: white;
    width: 568px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.find-form-action {
    position: absolute;
    width: 100%;
    background-color: white;
    padding-bottom: 55px;
}
.find-form-map {
    
}
.find button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
 

.find-hotels {
    background-color: #766357;
    width: 568px;
    height: 86px;
}
.find-calendar {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    display: block;
    margin-bottom: 55px;
    outline: 2px solid green;
    display: flex;
    

}
.find-arrival {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.find-departure {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    
}
.find-guests {
    display: flex;
    
    
    
}

.find-guests-adults {
    display: flex;
    width: 220px;
    height: 37px;
    outline: 2px solid yellow;

}
.guests-adults {
    margin-right: 40px;    
}
.find-guests-input {
    width: 80px;
    background-color: #f2f2f2;
    text-align: center; 
    border: 0px;  
}
.find-guests-button {
    border: 0px;
    background-color: #f2f2f2;
    
    

     
}
.find-guests-children {
    display: flex;
    width: 220px;
    height: 37px;
    margin-left: 47px;
    outline: 2px solid violet;

    
}
.arrival-input {
    width: 340px;
    height: 35px;
    background-color:#f2f2f2;
    border: 0px;
    margin-right: 50px;
}

.find-hotels:hover {
    background-color: #604e43;
}
.find-hotels:active{
    background-color: #503e33;
    color: #857871;
    
}
.find-search {
    background-color: #81b3d2; 
    width: 458px; 
    height: 58px;  
    
}
.find-search:hover {
    background-color: #669ec0;    
}
.find-search:active {
    background-color: #5496bd;
    color: #88b6d1;   
}
.find label {
    line-height: 26px;
    font-weight: bold;
}
.find input {
    line-height: 26px;
    font-weight: bold;
}
.find input:hover {
    background-color: #f2f2f2;
}
.find input:focus {
    background-color: #ffffff;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white; 
    margin-top: 80px;
    height: 120px; 

}
.footer-visit {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;    
}
.footer-visit a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.footer-site {
    width: 200px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-social {
    list-style: none;
    display: flex;
    width: 150px;
    height: 50px;
    
    
}

.footer-social a {
    background-color: #81b3d2;
    
 
}
.footer-social a:hover {
    background-color: #669ec0;
}
.footer-social a:active {
    background-color: #5496bd;
    color: #88b6d1; 
}
.footer-twitter {
    display: block;
    display: flex;
    justify-content: center;
    width: 46px;
    height: 48px;
    margin-right: 6px;
}
.footer-facebook {
    display: block;
    display: flex;
    justify-content: center;
    width: 46px;
    height: 48px;
    margin-right: 6px;
}
.footer-youtube {
    display: block;
    display: flex;
    justify-content: center;
    width: 46px;
    height: 48px;
}

.hotels {

}
.hotels-list{
    list-style: none;
}


.hotels-list a:hover {
    color: #81b3d2;
}
.hotels-list a:active {
    color: #cacaca;
}
.hotels h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;   
}
.hotels a {
    color: black;
    text-decoration: none;   
}
.hotels button {
    line-height: 21px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.hotels-details{
    background-color: #81b3d2;
}
.hotels-details:hover {
    background-color: #669ec0;   
}
 .hotels-details:active {
    background-color: #5496bd; 
    color: #7eb0cd;  
}

.hotels-reserved {
    background-color: #766357;
}
.hotels-reserved:hover {
       
}
.hotels-reserved:active {
    background-color: #503e33;
    color: #857871;    
   }






