body {
  font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.centering {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  line-height: 26px;
  font-weight: bold;
  background-color: white;
  position: relative;
  display: block;
  min-height: 58px;
}

.navigation-logo {
  position: absolute;
  right: 50%;
  margin-right: -70px;
  z-index: 1;
  top: 0px;
}

.navigation-list-brown {
  color: #766357;
}

.navigation-list-black {
  color: black;
}

.navigation-list {
  display: flex;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0 75px;
}

.navigation-list li {
  list-style: none;
  width: 25%;
}

.navigation-list li:nth-last-child(1),
.navigation-list li:nth-last-child(2) {
  text-align: right;
}

.navigation-list a {
  text-decoration: none;
  line-height: 26px;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #dbdbdb;
}

.photography {
  position: relative;
  background-image: url(../img/backgroundnew.jpg);
  background-repeat: no-repeat;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: #d5e3ef;
}

.photography::after {
  content: '';
  display: block;
  background-image: url(../img/polygon.png);
  position: absolute;
  height: 59px;
  left: -1px;
  right: -1px;
  bottom: -2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.advantage-block {
  background-color: white;
  height: 210px;
  padding: 5px;
  margin-bottom: 0;
}

.advantage-arizona {
  width: 450px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.advantage-best {
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 57px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.advantage-best-all {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-best-realtown {
  display: flex;
  height: 255px;
}

.advantage-best-realtown img {
  order: 1;
}

.advantage-best-bridge {
  display: flex;
  height: 256px;
}

.best-list-color {
  color: #333333;
}

.advantage-best-list1 {
  display: flex;
  justify-content: space-around;
  min-height: 331px;
  align-items: center;
  text-align: center;
  list-style: none;
}

.advantage-best-list1 p {
  width: 270px;

}

.advantage-best-list2 p {
  width: 270px;
}

.advantage-best-list2 h2 {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.advantage-best-list2 {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-around;
  min-height: 256px;
  text-align: center;
  align-items: center;
  list-style: none;
}

.advantage-carryover {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.best-realtown {

  text-align: center;
  background-color: #81b3d2;
  color: white;
  width: 399px;
}

.best-realtown h2 {
  margin-top: 45px;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25;
  text-align: center;
}

.best-village {
  background-image: url(../img/icon-1.svg);
  display: block;
  width: 75px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.best-eat {
  background-image: url(../img/icon-3.svg);
  display: block;
  width: 74px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.best-souvenirs {
  background-image: url(../img/icon-2.svg);
  display: block;
  width: 64px;
  height: 76px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.advantage h2 {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 30px;
}

.find {
  text-align: center;
}

.find-block {
  background-color: white;
}

.find-interested {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 55px;
}

.find-date {
  line-height: 24px;
  margin-top: 37px;
  text-align: center;
}

.find-form {
  background-color: white;
  width: 568px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.find-form-action {
  position: absolute;
  width: 100%;
  height: 395px;
  background-color: white;
  padding-bottom: 55px;
}

.find button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}


.find-hotels {
  background-color: #766357;
  width: 568px;
  height: 86px;
}

.selection-infrastructure {
  font-size: 16px;
}

.selection-type {
  font-size: 16px;
}

.find-calendar {
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;
  display: block;
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
}

.find-arrival {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.find-departure {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.find-guests {
  display: flex;
}

.find-guests-adults,
.find-guests-children {
  display: flex;
  width: 50%;
  align-items: center;
}

.find-guests-spinbox {
  display: flex;
}

.find-guests-adults {
  display: flex;
  height: 37px;
  justify-content: space-between;
}

.guests-adults {
  margin-right: 40px;
}

.find-guests-input {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  text-align: center;
  border: 0px;
  padding: 0;
}

.find-guests-plus {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-plus {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-plus:hover {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/plus1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-plus:active {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/plus2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-minus {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-minus:hover {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/minus1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-minus:active {
  border: 0px;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-image: url(../img/minus2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.find-guests-children {
  display: flex;
  justify-content: flex-end;
  height: 37px;
}

.arrival-input {
  width: 340px;
  height: 35px;
  background-color: #f2f2f2;
  padding-left: 12px;
  border: 0;
}

.arrival-input-button {
  background-image: url(../img/calendar0.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 21px;
  height: 24px;
  position: absolute;
  right: 60px;
  background-color: #f2f2f2;
  border: 0px;
}

.arrival-input-button:hover {
  background-color: #f2f2f2;
  border: 0px;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 12px;
}

.arrival-input-button:active {
  background-color: #f2f2f2;
  border: 0px;
  background-image: url(../img/calendar1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 12px;
}

.find-hotels:hover {
  background-color: #604e43;
}

.find-hotels:active {
  background-color: #503e33;
  color: #857871;
}

.find-search {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
}

.find-search:hover {
  background-color: #669ec0;
}

.find-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.find label {
  line-height: 26px;
  font-weight: bold;
}

.find input {
  line-height: 26px;
  font-weight: bold;
}

.find input:hover {
  background-color: #f2f2f2;
}

.find input:focus {
  background-color: #ffffff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 120px;
}

.footer-index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(252, 252, 252, 0.9);
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.footer-visit {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-visit-p {
  margin: 0;
}

.footer-visit a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-site {
  width: 200px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  list-style: none;
  display: flex;
  width: 150px;
  height: 50px;
  padding: 0;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-social a:active img {
  background-color: #5496bd;
  color: #88b6d1;
  opacity: 0.3;
}

.footer-twitter {
  display: block;
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.footer-facebook {
  display: block;
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.footer-youtube {
  display: block;
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.logo-html {
  width: 115px;
  height: 41px;
}

.logo-html:hover {
  fill: #81b3d2;
}

.logo-html:active {
  fill: #bdbbbc;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.hotels-selection {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/filter\ background.jpg);
  color: white;
  padding: 28px 73px;
  background-color: #7b96b4;
}

.label-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.label-checkbox input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid white;
}

.label-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 4px;
  background-color: white;
}

.label-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 20px;
  height: 4px;
  background-color: white;
}

.label-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
  transform: rotate(45deg);
}

.label-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
  transform: rotate(-45deg);
}

.hotels-selection-block {
  display: flex;
}

.hotels-selection-type {
  margin-left: 80px;
}

.hotel-filters {
  display: flex;
  justify-content: space-between;
  padding: 16px 73px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-name-price {
  margin: 0;
}

.hotel-filters-1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;

}

.hotel-filters-sorting {
  font-size: 12px;
}

.hotel-underline {
  border-bottom: 1px dotted #c4dcea;
  color: #bcbcbc;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

.hotel-underline:hover {
  color: #c4dcea;
}

.hotel-underline:active {
  color: black;
  border: none;
}

.hotel-filters-price {
  color: #c4dcea;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
}

.icon-up {
  background-image: url(../img/iconup1.png);
  width: 11px;
  height: 10px;
  margin-left: auto;
}

.icon-down {
  background-image: url(../img/icondown1.png);
  width: 11px;
  height: 10px;
  margin-left: 12px;
}

.icon-up:hover {
  background-image: url(../img/iconup2.png);
  width: 11px;
  height: 10px;
  margin-left: auto;
}

.icon-down:hover {
  background-image: url(../img/icondown2.png);
  width: 11px;
  height: 10px;
  margin-left: 12px;
}

.icon-up:active {
  background-image: url(../img/iconup3.png);
  width: 11px;
  height: 10px;
  margin-left: auto;
}

.icon-down:active {
  background-image: url(../img/icondown3.png);
  width: 11px;
  height: 10px;
  margin-left: 12px;
}

.hotels-name {
  margin: 0;
}

.hotels-name a {
  color: #000000;
}

.hotels-name a:hover {
  color: #81b3d2;
}

.hotels-li {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  border-bottom: 1px solid #e5e5e5;
  align-items: flex-start;
}

.price-span1 {
  margin-left: 40px;
}

.price-span2 {
  margin-left: 64px;
}

.price-span3 {
  margin-left: 21px;
}


.hotels-results {
  margin-right: auto;
  margin-bottom: 30px;
}

.star {
  background-image: url(../img/star.svg);
  display: block;
  min-width: 18px;
  min-height: 17px;
  padding-right: 6px;
  background-repeat: no-repeat;
}

.stars {
  display: flex;
  justify-content: flex-end;
}

.hotels1-photo {
  margin-right: 30px;
  margin-left: 72px;
}

.rating {
  margin-right: 72px;
}

.rating-points {
  background-color: #f2f2f2;
  margin-top: 47px;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.hotels-list a:active {
  color: #cacaca;
}

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotels a {
  text-decoration: none;
  padding: 0;
}

.hotels-details {
  background-color: #81b3d2;
  display: inline-block;
  margin-top: 18px;
  cursor: pointer;
  width: 110px;
  height: 27px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  vertical-align: bottom;
}

.hotels-details:hover {
  background-color: #669ec0;
}

.hotels-details:active {
  background-color: #5496bd;
  color: #7eb0cd;
}

.hotels-reserved {
  display: inline-block;
  background-color: #766357;
  cursor: pointer;
  width: 142px;
  height: 27px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  vertical-align: bottom;
}

.hotels-reserved:hover {
  background-color: #604e43;
}

.hotels-reserved:active {
  background-color: #503e33;
  color: #857871;
}